---
---

$section-headings-color: #000;

@import "{{ site.theme }}";

// Header
.page-header {
  background: #1f1f1f;
  
  .project-name {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
  }
  
  .project-tagline {
    display: none;
  }
  
  .btn {
    display: none;
  }
}

@media screen and (min-width: #{$large-breakpoint}) {
  .page-header {
    padding-bottom: 6rem;
  }
  .main-content {
    padding-top: 6rem;
    max-width: 75rem;
  }
}

// Content
.main-content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 200px;
  grid-template-areas:
      "text toc"
      "footer footer";
}
.main-content__text {
  grid-area: text;
}
.main-content__toc {
  grid-area: toc;
  
  .toc-list {
    position: sticky;
    top: 20px;
    padding-left: 30px;
  }
}
.site-footer {
  grid-area: footer;
}
